html{
    background: url("./bridge1.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body{
    /* --hue: var(--hue-neutral); */
    
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    /* background-color: hsl(var(--hue), 100%, 20%); */
}

body.correct{
    background-color: #E2EB98;
}

body.wrong{
    background-color: #474448;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: #A39171;
    opacity: 0.95;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px, 0;
}

.btn{
    border: 1px solid black;
    background-color: #94B1C7;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: large;
    color: #6F6C71;
    outline: none;
}

.btn:hover{
     border-color: black;
}

.btn.correct{
    background-color: #E2EB98;
    color: black ;
}

.btn.wrong{
    background-color: #474448;
}

.start-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hide{
    display: none;
}